*{
    box-sizing: border-box;
}
body{
    background-color: #e5e5e5;
    
}
.topo{
    display: flex;
    justify-content: center;
    height: 54px;
    background-color: #fff;
    border-bottom: 1px solid #DBDBDB ;
    width: 100%;
}
.topo-mobile{
    display: none;
}

.container{
    width: 935px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
     
.topo-direito{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.topo-direito ion-icon {
    width: 19.25px;
    margin-left: 0px;
}
.div-topo-direito{
    width: 1px;
    height: 22px;
    margin-left: 11.37px;
    border-right: 1px solid #DBDBDB;

}
.topo-direito img {
    height: 29px;
    width: 103px;
    margin-top: 5px;
    margin-left: 10px;
}

input{
    text-align: center;
    outline: none;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

ion-icon{
    margin-left: 25px;
}

.corpo{
    display: flex;
    justify-content: center;
    margin-top: 34px;
    font-family: 'Roboto';
    width: 935px;
    margin-left: auto;
    margin-right: auto;

}
.container-corpo{
    display: flex;
    justify-content: space-between;
    width: 935px;

}

.stories-box{
    width: 614px;
    height: 118px;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    display: flex;
    align-items: center;
    overflow: hidden;
    
    position: relative;
    
}
.botao-rastaprolado ion-icon{
    position: absolute;
    right: 10px;
    top: 45px;
    
    color: #fff;
    
    width: 26px;
    height: 26px;
    box-shadow:0px 1px 1px #DBDBDB;
    border-radius: 50px;
    
    

    

}
.unidade-stories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    width: 58px;
    margin-left: 14px;
}


.borda-stories{
    background-image: url(https://unilink.us/content/border/preview/1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 50px;
    overflow: hidden;
    
    
    
}
.stories-profile{
    display: flex;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
   
}
.stories-profile img{
    width: 56px;
    padding:2px;
    border-radius: 50px;
}
.feed{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.caixa-post{
    width: 614px;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 50px;

}


.top-post{
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.top-post ion-icon{
    margin-right: 15px;
}
.top-post img {
    width: 32px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
}
.top-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-right p{
    font-weight: bold;
    font-size: 14px;
}
.foto-feed{
    width: inherit;
    display: flex;
    justify-content: center;
    
}
video{
    width: 100%;
    
}
.foto-feed img{
    width: 100%; 
}
    
.feed-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feed-actions ion-icon{
    margin: 14px 18px 14px 0px;
    font-size: 20px;
    
}
.feed-actions ion-icon:first-child{
    margin-left: 18px;
}
.likes{
    display: flex;
    margin: 0px 5px 15px 17px;
    align-items: center;
    font-size: 14px;

}

.likes img{
    width: 20px;
    border-radius: 50px;
    margin-right: 5px;
    
}

.sidebar{
    width: 293px;
    height: 500px;
    
}
.top-side{
    display: flex;
    align-items: center;
    line-height: 1.6;
}
.top-side img{
    width: 56px;
    border-radius: 50px;
    margin: 24px 17px 22px 0px;
}
.top-side p{
    font-size: 14px;
}
.top-side p:last-child{
    color: #8e8e8e;
}

.sugestoes{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.sugestoes p:first-child{
    color: #8e8e8e;
}

.sugestion{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
.sugestion img{
    width: 32px;
    border-radius: 50px;
}

.sugestion div:nth-child(2){
    width: 60%;    
    font-size: 14px;
    line-height: 1.4;
}
.sugestion div:nth-child(2) p:last-child{
    color: #8e8e8e;
    font-size: 12px;    
}
.sugestion div:last-child{
    color: #139ef2;
    display: flex;
    align-items: center;
    font-size: 12px;
}
.rodape{
    font-size: 11px;
    color: #8e8e8e;
    margin-top: 18px;
}

@media (max-width: 935px){
    .sidebar{
        display: none;
    }
    .container{
        width: 100%;
    }
    .corpo{
        width: 100%;
    }
    .container-corpo{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .stories-feed{
        width: 100%;
    }
    .stories-box{
        
        margin-left: auto;
        margin-right: auto;
    }
    .caixa-post{
        
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 614px){
    .topo{
        width: 100%;
        display: none;
    }
    .container{
        width: 100%;
    }
    .topo-mobile{
        
        display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
}

    .topo-mobile ion-icon{
    margin: auto 21px;
    }
    
    .corpo{
        width: 100%;
    }
    
    .stories-box{
        margin-top: 20px;
        border-radius: 0px;
        background-color: #e5e5e5;
        border: none;
        border-top: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
    }
    .botao-rastaprolado{
        display: none;
    }
    .feed{
        margin-top: 0px;
    }
        
}